beautifulsoup4==4.12.2
nltk==3.8.1
plotly==5.10.0
pandas==2.0.3
numpy==1.25.0
scipy==1.11.0
selenium==4.11.2
streamlit==1.22.0
tensorflow==2.13.0
textblob==0.17.1
certifi==2023.6.15

# give command : "pip install -r requirements.txt" to install all the requriements
